language: node_js
cache:
  directories:
    - node_modules
notifications:
  email:
    on_success: never
    on_failure: always
node_js:
  - "10"
branches:
  only:
    - "master"
env:
  - NODE_ENV="development"
